* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* display: flex; */
  min-height: 100%;
  background: linear-gradient(65deg, #253d780e 45%, #29b99a0e 95%), linear-gradient(-40deg,  #42c5a40e 15%, #60719c0e 45%);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #ccc;
}