* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  background: rgba(248, 248, 248, 0.5);
}

/* @font-face {

} */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #ccc;
}