* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100%;
  background: linear-gradient(65deg, #253d78 45%, #29b99a 95%), linear-gradient(-40deg,  #42c5a4 15%, #60719c 45%);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #ccc;
}