.cat-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  width: 90%;
  padding-top: 12px;
  margin: auto;
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
  color: #555;
}

a {
  color: #555;
}

.cat {
  background: #fff;
  width: 200px;
  height: 140px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  text-align: center;
  transition: 100ms;
  margin-top: 1rem;
}

.cat-color {
    
}

.cat:hover {
  margin-top: 0.5rem;
  box-shadow: 3px 5px #eee;
}


