/* ---- Form Header ---- */

.cat-form-header {
  margin: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

/* ---- Categories display ---- */

.cat-form-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.cat-form-list > li {
  height: 80px;
  width: 120px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  justify-content: space-around;
}

/* ---- Edit Mode ---- */

.edit-mode {
  margin: 14px;
}

.input-fields {
  flex: 1;
  padding-top: 8px;
  margin: 18px;
}

.edit-cat { 
  flex: 1;
  margin-bottom: 12px;
}

/* ---- Semantic component ---- */

button.ui.button {
  margin: 0 4px 0 8px;
}

label {
  margin-right: 8px;
}

.ui.inverted.red.button,
.ui.inverted.red.buttons .button {
  box-shadow: 0 0 0 1px #ff695e inset !important;
}

.ui.progress:first-child { 
  margin: 0 0 1.5em;
}

.edit-cat .ui.basic.label {
  width: 40%;
}

.edit-cat .ui.labeled.input {
  width: 40%;
}



