button.ui.button {
  margin: 0 4px 0 8px;
}

label {
  margin-right: 8px;
}

/* ---- Category Form ---- */
#editForm {
  padding-top: 8px;
  margin: 18px;
}

.cat-form {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.cat-form > li {
  height: 80px;
  width: 120px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  justify-content: space-around;
}

.cat-form-header {
  margin: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.edit-cat {
  margin-bottom: 12px;
}

.edit-cat .ui.basic.label {
  width: 120px;
}

.ui.inverted.red.button,
.ui.inverted.red.buttons .button {
  background-color: transparent;
  box-shadow: 0 0 0 1px #ff695e inset !important;
  color: #ff695e;
}
