/* -----  Container  ----- */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #eee;
}

.main-left {
  width: 40%;
  padding: 4px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  /* background: #98f5c6; */
  background: #60719c;
}

/* -----  balance-income display  ----- */

.main-balance {
  flex: 1;
  margin-left: 8px;
  font-size: 12pt;
}

.balance {
  font-size: 1.5em;
  margin-left: 4px; 
}

.monthly-income {
  flex: 1;
  font-size: 10pt;
  margin-right: 4px;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
}

/* -----  Icon  ----- */

.add.icon {
  font-size: 1.8em;
  margin: 4px;
  align-self: flex-end;
}


/* -----  buttons  ----- */

.text-activity {
  color: rgba(85, 85, 85, 0.6);
  text-decoration: underline;
  margin: 6px 0 0 12px;
}

.text-activity:hover {
  color: rgba(85, 85, 85);
}

/* -----  Media Queries  ----- */

@media only screen and (max-width: 836px){
  .main-left {
    width: 60%;
  }
}

@media only screen and (max-width: 567px){
  .main {
    flex-direction: column;
  }
  .main-left {
    width: 80%;
  }
}

@media only screen and (max-width: 411px){
  .main-left {
    width: 100%;
  }
}