.main {
    padding: 12px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    display: flex;
    align-items: center;
    color: #555;
}

.main-balance {
    flex: 1;
    font-size: 18pt;
}

.monthly-income {
    flex: 1;
    font-size: 12pt;
}

.add {
    height: 40px;
    width: 40px;
    margin-right: 8px;
    padding: 3px;
    transition: 200ms;
}

.add:hover {
   padding: 1px;
}

.set-income {
    margin: 12px;
    padding: 12px;
}