/* -----  Containers  ----- */

.navbar {
  display: flex;
  background: rgb(99, 216, 158);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 2px;
  color: #222;
}

.nav-left {
  flex:1;
}

.nav-center {
  flex:2;
}

.nav-right {
  flex:1;  
  text-align: end;
}

/* -----  Actions  ----- */

.home {
  margin-left: 8px;
  height: 26px;
  width: 26px;
  padding: 2px;
  transition: 100ms;
}

.categories {
  margin-left: 18px;
  height: 26px;
  width: 26px;
  padding: 2px;
  transition: 100ms;
}

.settings {
  margin-left: 18px;
  height: 26px;
  width: 26px;
  padding: 2px;
  transition: 100ms;
}

/* -----  Hover  ----- */

.home:hover {
  padding: 0;
}

.categories:hover {
  padding: 0;
}

.settings:hover {
  padding: 0;
}

/* -----  User  ----- */

.avatar {
  margin-left: 10px;
  margin-right: 12px;
  height: 26px;
  width: 26px;
  background-size: cover;
  vertical-align: middle;
}

.welcome {
  vertical-align: middle;
}

/* -----  Logo  ----- */

.nav-center h1 {
  text-align: center;
  font-weight: 200;
  font-size: 22pt;
}

/* -----  Media Queries  ----- */

@media only screen and (max-width: 683px){
  .welcome {
    display: none;
  }

  .nav-center h1 {
    display: none;
  }

  .nav-left{
    flex: 2;
  }
}

