.navbar {
  display: flex;
  background: #555;
  padding: 8px;
  color: #f0f8ff;
}

.nav-left {
  flex:1;
}

.nav-center {
  flex:2;
}

.nav-right {
  flex:1;  
}

.home {
  margin-left: 12px;
  height: 30px;
  width: 30px;
  transition: 200ms;
}

.home:hover {
  padding: 2px;
}

.categories {
  margin-left: 32px;
  height: 30px;
  width: 30px;
  transition: 200ms;
}

.categories:hover {
  padding: 2px;
}

.settings {
  margin-left: 32px;
  height: 30px;
  width: 30px;
  transition: 200ms;
}

.settings:hover {
  padding: 2px;
}

.avatar {
  margin-left: 10px;
  margin-right: 12px;
  height: 35px;
  width: 35px;
  background: url(../img/avatar.svg);
  background-size: cover;
  vertical-align: middle;
  border: 0.5px solid white;
  border-radius: 15px;
}

.profile {
  text-align: end;
}

.nav-center h1 {
  text-align: center;
  font-weight: 200;
  font-size: 22pt;
}

