.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 60px 42px;
}

.settings-profile{
    flex: 1;
    margin-bottom: 8px;
    width: 80%;
    text-align: center;
    padding: 12px;
    margin-top: 18px;

}

.settings-list {
    width: 60%;
}

.settings-item {
    border-bottom: 1px solid #0000001a;
    margin-bottom: 12px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.settings-label {
    margin: 0 0 6px 2px;
}


@media only screen and (max-width: 768px) {
    .settings-list {
        width: 90%;
    }

}
